@import url('./assets/font/font.css');

:root {
  --main-color: #ffeb41;
  --secondary-color: #ffbb25;
}

body {
  max-width: 450px;
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

div,
p,
li {
  box-sizing: border-box;
}

h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
