version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - client
      - server

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    expose:
      - "5173"

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    expose:
      - "3000"
